@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700|Roboto:300,400,500,700');
html, body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.bgffffff{ background-color: #FFF; }
.bgfafafa{background-color: #FAFAFA; }

.color-999999{color: #999;}

.border-e6e6e6{ border: 1px solid #e6e6e6;}
.border-btm-e6e6e6{ border-bottom: 1px solid #e6e6e6;}

header{
  border-bottom: 1px solid rgba(0,0,0,.0975);
}
.serchBox{
  text-align: center;
  padding: 4px 20px;
  background-color: #FAFAFA;
  color: #262626;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
}
.commentBox input,
.serchBox input{
  border: none;
  background-color: transparent !important;
}
.commentBox input:focus,
.serchBox input:focus{
  background-color: transparent !important;
  border: none;
  outline: none;
}
